[Unit]
Description=Verdaccio Private NPM Registry

[Service]
User=verdaccio
Group=verdaccio
WorkingDirectory=/home/verdaccio
ExecStart=/usr/bin/verdaccio --listen {{ verdaccio_host }}:{{ verdaccio_port }} {{ verdaccio_args | join('-- ') }}

[Install]
WantedBy=multi-user.target
